<div ng-show="module.canSee || module.canEdit">
    <h1>{{ module.name }}</h1>
    <div kendo-grid="grid"
        k-grid-hide-details="!module.canEdit"
        k-grid-one-details-at-a-time
        k-options="usersGridOptions">
        <div k-detail-template ng-if="module.canEdit" ng-show="module.canEdit" class="k-detail-template">
            <form ng-submit="save(dataItem)">
                <div class="k-edit-form-container">
                    <div class="k-edit-label">
                        <label for="firstName">First name</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" name="firstName" required="required" ng-model="dataItem.forEdit.firstName">
                    </div>
                    <div class="k-edit-label">
                        <label for="firstName">Last name</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" name="lastName" required="required" ng-model="dataItem.forEdit.lastName">
                    </div>

                    <div class="k-edit-label" ng-repeat-start="module in dataItem.forEdit.modules">
                        <label for="{{ module.id }}">{{ modules[module.id].name }}</label>
                    </div>
                    <div class="k-edit-field" ng-repeat-end>
                        <select class="form-control" name="{{ module.id }}" ng-model="dataItem.forEdit.modules[$index].permission">
                            <option ng-repeat="(key, name) in permissions.array" value="{{ name }}" ng-selected="name == dataItem.forEdit.modules[$parent.$index].permission">{{ name }}
                            </option>
                        </select>
                        <span class="label label-warning" ng-show="dataItem.forEdit.modules[$index].permission != permissions.edit && module.id == modules.users.id && dataItem.forEdit.userId == authInfo.userId">
                            You will not be able to edit users table after saving
                        </span>
                    </div>
                    
                    <div class="k-edit-field">
                        <button type="submit">Save</button>
                        <button type="button" ng-click="cancelEdit(dataItem)">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
