body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.dropdown .dropdown-menu-with-form {
    padding: 15px;
}

.ng-invalid.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* kendo styles break nested bootstrap controls */
.k-edit-field .form-control {
    box-sizing: border-box;
}

/* if ng-if is used for grid detail template then ghost element appears in the grid */
.k-grid > .k-detail-template {
    display: none;
}

.k-grid.kendo-grid-hide-details .k-hierarchy-col {
    display: none;
}
.k-grid.kendo-grid-hide-details .k-hierarchy-cell {
    display: none;
}
.k-grid.kendo-grid-hide-details .k-detail-row {
    display: none !important;
}

/* comma separated list */
span.commas-list-item:after {
    content: ', '
}
span.commas-list-item:last-child:after {
    content: ''
}