<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paladyne test</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div>
            <h1>Bootstrap starter template</h1>
            <p class="lead">
                Use this document as a way to quickly start any new project.<br>
                All you get is this text and a mostly barebones HTML document.
            </p>
            @(Html.Kendo().DatePicker().Name("datepicker").Deferred())
            <p>
                <a id="btnInvoke" class="btn btn-default" href="#" role="button">Invoke</a>
                <a id="btnLogin" class="btn btn-default" href="#" role="button">Login</a>
                <a id="btnLogout" class="btn btn-default" href="#" role="button">Logout</a>
            </p>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    @Html.Kendo().DeferredScripts()

    <script type="text/javascript">
        var token = null;

        $(function () {
            $("#btnInvoke").click(function () {
                var headers = {};
                if (token) {
                    headers.Authorization = 'Bearer ' + token;
                }

                $.ajax({
                    type: 'GET',
                    url: 'api/users/1',
                    headers: headers
                }).done(function (data) {
                    console.log(data);
                }).fail(function () {
                    console.log(arguments);
                });
            });

            $("#btnLogin").click(function () {
                var loginData = {
                    grant_type: 'password',
                    username: "Administrator",
                    password: "123456"
                };
                //JSON.stringify

                $.ajax({
                    type: 'POST',
                    url: 'account/login',
                    data: loginData
                }).done(function (tkn) {
                    console.log(tkn);
                    token = tkn;
                }).fail(function () {
                    console.log(arguments);
                });
            });
        });
    </script>
</body>
</html>
