<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paladyne test</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-csp.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <pt-navbar></pt-navbar>

    <div class="container body-content" ng-view>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @*Html.Kendo().DeferredScripts()*@
    
    
    <script src="~/App/welcome/welcome.js"></script>
    <script src="~/App/welcome/welcomeCtrl.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/common/popupSvc.js"></script>
    <script src="~/App/common/authSvc.js"></script>
    <script src="~/App/common/authInfo.js"></script>
    <script src="~/App/navbar/navbarCtrl.js"></script>
    <script src="~/App/navbar/navbarDirective.js"></script>
    <script src="~/App/navbar/authFormCtrl.js"></script>
    <script src="~/App/navbar/authFormDirective.js"></script>
    <script src="~/App/navbar/mainMenuCtrl.js"></script>
    <script src="~/App/navbar/mainMenuDirective.js"></script>
    <script src="~/App/navbar/userMenuCtrl.js"></script>
    <script src="~/App/navbar/userMenuDirective.js"></script>

    <script type="text/javascript">
        var token = null;

        $(function () {
            $("#btnInvoke").click(function () {
                var headers = {};
                if (token) {
                    headers.Authorization = 'Bearer ' + token;
                }

                $.ajax({
                    type: 'GET',
                    url: 'api/users/1',
                    headers: headers
                }).done(function (data) {
                    console.log(data);
                }).fail(function () {
                    console.log(arguments);
                });
            });
        });
    </script>
</body>
</html>
