<!DOCTYPE html>
<html ng-app="main" @*ng-strict-di*@>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paladyne test</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-csp.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <pt-navbar></pt-navbar>

    <div class="container body-content">
        <div ng-view></div>
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/ocLazyLoad.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.angular.min.js"></script>

    <script src="~/App/app.js"></script>

    <script src="~/App/common/popupSvc.js"></script>
    <script src="~/App/common/authSvc.js"></script>
    <script src="~/App/common/accountSvc.js"></script>
    <script src="~/App/common/authInfo.js"></script>
    <script src="~/App/common/modulesSvc.js"></script>
    <script src="~/App/common/permissionsSrv.js"></script>

    <script src="~/App/index/managementCtrl.js"></script>

    <script src="~/App/navbar/navbarCtrl.js"></script>
    <script src="~/App/navbar/navbarDirective.js"></script>
    <script src="~/App/navbar/authFormCtrl.js"></script>
    <script src="~/App/navbar/authFormDirective.js"></script>
    <script src="~/App/navbar/mainMenuCtrl.js"></script>
    <script src="~/App/navbar/mainMenuDirective.js"></script>
    <script src="~/App/navbar/userMenuCtrl.js"></script>
    <script src="~/App/navbar/userMenuDirective.js"></script>
    <script src="~/App/navbar/registerFormCtrl.js"></script>
    <script src="~/App/navbar/registerFormDirective.js"></script>
</body>
</html>
